<div class="col-md-6 col-md-offset-1">
  <p class="comment-design">
    <strong>{{comment.author}}:</strong> <br>  {{comment.comment}}
  </p>
</div>
<div class="pull-right">

</div>
<button class="btn btn-default"{{action 'delete' review}}>Delete Comment <span class="glyphicon glyphicon-trash"></span> </button>
