<h2>About Soccer Blog</h2>

<p>
  This is a blog about the top american soccer prospects in th world! We will mainly focus on young talent under 23.
</p>

{{#link-to 'contact'}}Contact us{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
