<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Future Stripes FC</h1>
    </div>
  </header>
    {{outlet}}
  <hr>
  <footer class="center">
    <button type="button" class="btn btn-default">{{#link-to 'index'}}Home{{/link-to}}</button>
    <button type="button" class="btn btn-default">{{#link-to 'contact'}}Contact us{{/link-to}}</button>
    <button type="button" class="btn btn-default">{{#link-to 'about'}}About us{{/link-to}}</button>
    <!-- {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'contact'}}Contact us{{/link-to}}
    {{#link-to 'about'}}About us{{/link-to}} -->
  </footer>
</div>
