<div class="container">
  <header class="jumbotron">
    <h2>Soccer Blog</h2>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact us{{/link-to}}
    {{#link-to 'about'}}About us{{/link-to}}
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
