<h1>Welcome to Soccer Blog</h1>

<p>We hope you are able to learn about the youth that can be the future of the USMNT</p>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post savePost="savePost"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact us{{/link-to}}
