<div class="center welcome">
  <h1>Welcome to Future Stripes FC</h1>
  <p>Home of the future prospects for the USMNT</p>
</div>

<button type="button" class="btn btn-default pull-right">{{new-post savePost="savePost"}}</button>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 home-post">
      {{#each model.posts as |post|}}
      {{post-tile post=post}}
      {{/each}}
    </div>
  </div>
</div>
