<h1 id="post-title" class="center">{{model.title}}</h1>
  {{update-post post=model update="update"}}

  {{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment"}}

  {{new-comment saveComment="saveComment" post=model}}
